
<h1 style="text-align: center;">
    This app has been migrated to Play store.<br/> 
    The link to it will be provided soon. <br/>
    Thanks for your patience. </h1>

    <a href='https://play.google.com/store/apps/details?id=com.tubaplayer&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
<!--
<div class="body"><br />
    <p id="np">Web audio player</p>
    
    <div class="bt play" id="play"></div>
    <div class="bt" id="next"></div>
    <div id="progress"><div id="progress-buffer"><div id="progress-value"><div class="seeker"></div></div></div></div>
    <div class="bt" id="vol"></div>
    <div id="vol-bar"><div id="vol-level"><div><div class="seeker"></div></div></div></div>
    <audio id="audio" autoplay></audio> <br/>
    
    <div class="checkbox random checked"></div>
    <div class="checkbox repeat"></div>
    <br/><br/>
    <div id="upload-progress"></div>
    <div id="selected"></div>
    <input type="text" class="search" placeholder="Search..." />
    <div class="label">
        <input type="file" id="upio_input" accept="audio/mp3" onchange="selected()" multiple />
        Upload Files
    </div><br/>
    <ul class="musics"><li *ngFor="let m of musics">{{m}}</li></ul>
</div>
-->